.scrollTrue {
    animation: toTopBar 2s ease-in-out forwards;
    .bg-img {
        opacity: 1;
        animation: fadeOut  2s ease-in-out forwards
    }

    .project-title {
        animation: toTopLeft 2s ease-in-out forwards;
        padding: 4px 0 0 20px
    }
}


    // @extend %bg-title;
    // @include abs(50%, null, null, 50%);
    // transform: translate(-50%, -50%);

@keyframes toTopLeft {
    from {top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: $title-xl;}
    to {top: 0%; left: 0%; transform: none; font-size: $font-lg;}
}

@keyframes toTopBar {
    from {height:calc(100vh - 144px);}
    to {height: 40px;}
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}