
footer {
    text-align: center;
}

.next-page {
    display: inline-block;
    margin: 0px auto 80px;
    padding-right: 20px;
    line-height: 72px;
    font-family: $font-light;
    color: $color-primary;

    span {
        transform: translateX(0px);
        margin-left: 10px;
        transition: .1s ease-in-out;
        
        svg {
            width: 6px;
        }

        .arrow{
            fill: $color-primary;
        }
    }

    &:hover span {
        transform: translateX(2px);
    }
}