.wrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
}

.project-story {
    width: 50%;
    padding: 120px 40px 40px;
    box-sizing: border-box;

    h1 {
        margin-bottom: 10px;
        font-size: $title-sm;
    }

    p {
        margin-bottom: 60px;
    }

    .project-link {
        font-family: $font-light;
        color: $color-primary;
        text-decoration: underline;
    }
}
