.bar-left, .bar-right {
    width: 25%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    img {
        background-color: $color-grey;
        object-fit: cover;
        object-position: center center;
        width: 100%;
        height: 100%;
    }
}

.bar-left {
    float: left;
    padding-right: 20px;
}

.bar-right {
    float: right;
    padding-left: 20px;
}
