
@import 'utils/all';
@import 'reset';
@import 'extends/all';

body {
    background: $color-background;
    color: black;
}

.main-wrapper {
    min-height: 100vh;
    height: auto;
    overflow: auto;
    padding: 72px;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    font-family: $font-bold;
}

p, figcaption {
    font-family: $font-light !important;
    line-height: 1.6;
    letter-spacing: .02em;
}