
@import 'src/assets/scss/utils/functions';
@import 'src/assets/scss/utils/variabels';
@import 'src/assets/scss/utils/mixins';
@import 'src/assets/scss/extends/all';

footer {
    @include fxd(null, null, 0, 0);
    @include size(100vw, 72px);
    padding: 0 72px;

    .background {
        @include abs();
        @include size(100%, 100%);
        background-color: $color-background;
        z-index: -1;
    }
}

.copyright {
    line-height: 72px;
    float: left;
    margin-left: 20px;
    font-family: $font-light;
    font-size: $font-sm;
    color: $color-grey;

    a {
        color: black;
    }
}

.next-page {
    float: right;
    padding-right: 20px;
    line-height: 72px;
    font-family: $font-light;
    color: $color-primary;

    span {
        transform: translateX(0px);
        margin-left: 10px;
        float: right;
        transition: .1s ease-in-out;
        
        svg {
            width: 6px;
        }

        .arrow{
            fill: $color-primary;
        }
    }

    &:hover span {
        transform: translateX(2px);
    }
}