<footer>
  <div class="background"></div>
  <p class="copyright">© Copyright 2017, <a class="pf-link" href="//www.siewersdesign.nl" target="_blank">Siewersdesign.</a></p>
  <a class="next-page">
    Bekijk {{data?.nextName}}
    <span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 10.95">
        <defs></defs>
        <g id="Laag_2" data-name="Laag 2">
          <polygon class="arrow" points="0.51 0 0 0.51 4.97 5.47 0 10.43 0.51 10.95 6 5.47 0.51 0"/>
        </g>
      </svg>
    </span>
  </a>
</footer>
