<!-- Bedrijf foto's -->
<figure>
  <img [ngClass]="{'fade-in': imgLoaded === true}" src="assets/img/arbeidskamer.jpg" alt="">
  <figcaption>De arbeidskamer</figcaption>
</figure>
<figure>
  <img [ngClass]="{'fade-in': imgLoaded === true}" src="assets/img/werkplek.jpg" alt="">
  <figcaption>Mijn werkplek met daarnaast Fabio</figcaption>
</figure>
<figure>
  <img [ngClass]="{'fade-in': imgLoaded === true}" src="assets/img/standup2.jpg" alt="">
  <figcaption>Alle aanwezige projectleiders en mensen van de productie komen bij elkaar tijdens de stand-up</figcaption>
</figure>
<figure>
  <img [ngClass]="{'fade-in': imgLoaded === true}" src="assets/img/standup.jpg" alt="">
  <figcaption>Scrummaster Thomas voor het scrumbord tijdens de stand-up</figcaption>
</figure>
<figure>
  <img [ngClass]="{'fade-in': imgLoaded === true}" src="assets/img/review.jpg" alt="">
  <figcaption>Een presentatie van Joanne tijdens de review</figcaption>
</figure>
<figure>
  <img [ngClass]="{'fade-in': imgLoaded === true}" src="assets/img/refinement.jpg" alt="">
  <figcaption>Backlog items pokeren bij de refinement</figcaption>
</figure>
<figure>
  <img [ngClass]="{'fade-in': imgLoaded === true}" src="assets/img/refinement2.jpg" alt="">
  <figcaption>Thomas zoekend naar het aantal punten dat hij het item schat</figcaption>
</figure>

<!-- Hedon foto's -->
<figure>
  <img [ngClass]="{'fade-in': imgLoaded === true}" src="assets/img/hedon-header.jpg" alt="">
  <figcaption>Hedon - foto van een optreden</figcaption>
</figure>
<figure>
  <img [ngClass]="{'fade-in': imgLoaded === true}" src="assets/img/hedon-header.jpg" alt="">
  <figcaption>Hedon - foto van een optreden</figcaption>
</figure>
<figure>
  <img [ngClass]="{'fade-in': imgLoaded === true}" src="assets/img/hedon-header.jpg" alt="">
  <figcaption>Hedon - foto van een optreden</figcaption>
</figure>


<app-footer></app-footer>