
<header class="project-header" [ngClass]="{'scrollTrue': projectScroll === true}">
    <img class="bg-img" *ngIf="headerImg" [src]="data.headerImg" alt="project-foto">
    <h1 class="project-title">{{data?.name}}</h1>
</header>
<div class="wrapper">
    <figure class="lightbox" [ngClass]="{'lightbox-visible': lightBox === true}">
        <img class="lightbox-img">
        <a class="close" (click)="lightBoxClose()">sluiten<svg class="close-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 18"><g id="Laag_2-2" data-name="Laag 2"><line class="line" y1="1" x2="24" y2="1"/><line class="line" y1="17" x2="24" y2="17"/></g></svg>
</a>
    </figure>
    <aside class="bar-left">
        <figure *ngFor="let item of imgLeft">
            <img class="img-hover" (click)="lightBoxOpen($event)" src="{{item.img}}" alt="foto">
            <figcaption>{{item.description}}</figcaption>
        </figure>
    </aside>
    <main class="project-story">
        <h1>Inleiding</h1>
        <p>{{data?.intro}}</p>

        <h1>Proces</h1>
        <p>{{data?.process}}</p>

        <h1>Wat heb ik hiervan geleerd?</h1>
        <p>{{data?.learned}}</p>

        <h1 *ngIf="data?.projectLink">Link</h1>
        <a class="project-link" [attr.href]="data?.projectLink" target="_blank">{{data?.projectLink}}</a>
    </main>
    <aside class="bar-right">
        <figure *ngFor="let item of imgRight">
            <img class="img-hover" (click)="lightBoxOpen($event)" src="{{item.img}}" alt="foto">
            <figcaption>{{item.description}}</figcaption>
        </figure>
    </aside>
</div>
<app-footer [nextLink]="nextLink"></app-footer>
