
<header class="project-header" [ngClass]="{'scrollTrue': projectScroll == true}">
    <img class="bg-img" alt="project-foto">
    <h1 class="project-title">{{data?.name}}</h1>
</header>
<div class="wrapper">
  <aside class="bar-left">
      <figure class="img-1">
          <img src="" alt="">
          <figcaption></figcaption>
      </figure>
      <figure class="img-2">
          <img src="" alt="">
          <figcaption></figcaption>
      </figure>
  </aside>
  <main class="project-story">
      <h1>Inleiding</h1>
      <p>{{data?.intro}}</p>

      <h1>Proces</h1>
      <p>{{data?.process}}</p>
  </main>
  <aside class="bar-right">
      <figure class="img-1">
          <img src="" alt="">
          <figcaption></figcaption>
      </figure>
  </aside>
</div>
<app-footer [nextLink]="nextLink"></app-footer>
