<header class="verslag-title">
  <img src="main-header.jpg" alt="Stage bij Boerdam">
  <h1>Stageverslag</h1>
</header>
<main class="titles">
  <h2>Mijn stage bij <a href="//www.boerdam.nl" target="_blank">Boerdam</a></h2>
  <h3>Door Luuk Siewers</h3>
</main>
<footer class="info">
  <article>
    <h2>Periode</h2>
    <h3>30 januari 2017 t/m 30 juni 2017</h3>
  </article>
  <article>
    <h2>Begeleider</h2>
    <h3>Christiaan Lukkien</h3>
  </article>
  <article>
    <h2>Docent</h2>
    <h3>Frank de Kimpe</h3>
  </article>
</footer>

<app-footer [nextLink]="{url: '/inleiding', name: 'inleiding'}"></app-footer>