
@import 'src/assets/scss/utils/functions';
@import 'src/assets/scss/utils/variabels';
@import 'src/assets/scss/utils/mixins';
@import 'src/assets/scss/extends/all';

.verslag-title {
    padding-top: 25vh;
    text-align: center;

    h1 {
        @extend %bg-title;
    }
}

.titles {
    @include abs(50%, null, null, 50%);
    transform: translate(-50%, -50%);
    text-align: center;
    padding-top: 20px;

    h2 {
        font-family: $font-light;
        font-size: $title-xl;
        margin-bottom: 40px;
        color: $color-primary;

        a {
            text-decoration: underline;
            color: $color-primary;
        }
    }

    h3 {
        font-size: $font-lg;
    }
}

.info {
    @include abs(null, null, 72px, 0);
    width: 100%;
    padding: 0 120px 6vh;
    display: flex;
    justify-content: center;

    article {
        text-align: center;
        width: 30%;

        &:nth-child(2) {
            width: 40%;
        }

        h2 {
            font-family: $font-light;
            font-size: $font-sm;
            padding-bottom: 10px;
        }

        h3 {
            font-size: $font-md;
        }
    }
}