// menu
.menu {
    @include fxd();
    @include size(100vw, 100vh);
    z-index: 1;
    pointer-events: none;

    .background {
        @include abs();
        @include size(calc(100vw - 144px), calc(100vh - 72px));
        background-color: $color-primary;
        transform: scale(1);
        margin: 0 auto;
        will-change: transform;
        opacity: 0;
    }
}

// menu content
.menu-content {
    height: auto;
    width: 40vw;
    min-width: 320px;
    @extend %all-center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0;
}

.nav-list {
    li {
        &:not(:first-child) {
            margin-top: 5vh;
        }
        
        a {
            color: white;
            font-family: $font-bold;
            font-size: $title-md;
        }
    }

    &-sub li:first-child {
        margin-top: 5vh;
    }

    &-sub li a {
        font-family: $font-light;
        font-size: $title-sm;
    }
}
.nav-list-sub li a {
    font-family: $font-light;
    font-size: $title-sm;
}

.menu-footer {
    @include abs(null, null, 0, 0);
    @include size(100vw, 72px);
    padding: 0 72px;
    opacity: 0;
}

.copyright-menu {
    line-height: 72px;
    float: left;
    margin-left: 20px;
    font-family: $font-light;
    font-size: $font-sm;
    color: $color-grey;

    a {
        color: white;
    }
}

.pdf-download {
    height: 40px;
    width: 200px;
    margin: 16px 20px 16px 0;
    background-color: white;
    line-height: 42px;
    float: right;
    color: $color-primary;
    padding: 0 20px;
    font-family: $font-title;

    img {
        height: 24px;
        display: inline-block;
        float: right;
        margin-top: 8px;
    }
}
