.wrapper {
    height: auto;
    width: 40vw;
    min-width: 320px;
    @extend %all-center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-list {
    li {
        &:not(:first-child) {
            margin-top: 5vh;
        }
        h1 {
            color: black;
            font-family: $font-bold;
            font-size: $title-md;
        }
    }

    &-sub li:first-child {
        margin-top: 5vh;
    }

    &-sub li h2 {
        font-family: $font-light;
        font-size: $title-sm;
    }
}