img {
    @include abs(50%, 0, 0, 50%);
    transform: translate(-50%, -50%);
    width: calc(100vw - 144px);
    height: calc(100vh - 144px);
    opacity: .6;
    object-fit: cover;
    object-position: center center;
}